

/*
 *          ╭─────────────────────────────────────────────────────────╮
 *          │                         General                         │
 *          ╰─────────────────────────────────────────────────────────╯
*/

@import "colors.css";

body {
    font-family: 'JetBrainsMonoNerd', monospace;
    background-color: var(--inverse_primary); 
    margin: 0px;
}

span {
    padding: 10px;

}

/*
 *          ╭─────────────────────────────────────────────────────────╮
 *          │                         Topnav                          │
 *          ╰─────────────────────────────────────────────────────────╯
*/

.topnav {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;

    background-color: var(--on_primary_container);

    border: 3px solid var(--on_primary);
    border-radius: 10px;
}


.topnav-left {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;

    box-shadow: 0px 0px 20px var(--primary_container, --inverse_primary);
}

#topnav-title {
    font-size: 25px;
    font-weight: bold;
}


.topnav-right {
    display: flex;
    align-items: center;
    padding: 10px;
}

#search-bar {
    display: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding: 10px;
}

#search-bar.show {
    display: inline-block;
}

#search-btn {
  background-color: var(--on_primary_fixed_variant);
  border: 2.5px var(--on_primary) solid ;
  
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;

  color: white;
  font-size: 14px;
  font-weight: bold;

}

#search-btn:hover {
  background-color: var(--on_primary_fixed);
}


/*
 *          ╭─────────────────────────────────────────────────────────╮
 *          │                        News Menu                        │
 *          ╰─────────────────────────────────────────────────────────╯
*/

.blogs-menu {
    background-color: var(--secondary);
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
}

.blogs-title {
    display: flex;
    font-size: 30px;
    justify-content: center;
    background-color: var(--tertiary);
    border: 2px solid var(--on_primary);
    border-radius: 5px;
    padding: 10px;
    color: var(--on_tertiary);
}

.blogs {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.box {

    display: flex;
    flex: 0 0 33%;
    box-sizing: border-box;

    border: 2px solid var(--on_primary);
    border-radius: 10px;
    background-color: var(--inverse_primary);

    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    cursor: pointer;
}
.box:hover {
    background-color: var(--primary_container);
}

.box img{
    padding: 10px;
    height: auto;
    width: 300px;
    transform: scale(1);
    transition: transform 0.3s ease-out;
}

.box:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/*  Hamburger   */


.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  cursor: pointer;
}


.hamburger .line {
  width: 100%;
  height: 4px;
  background-color: var(--inverse_primary);
}

.menu {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 0;
    width: 100%;

    background-color: var(--on_primary_fixed);

    max-height: 0;
    overflow: hidden; 
    transition: max-height 0.4s ease;

}

.menu.active {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: var(--on_primary_fixed);
    

    max-height: 100%;
}


.menu ul {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  text-align: center;
}

.menu ul li {
  padding: 15px;
  border-bottom: 1px solid #444;
}

.menu ul li a {
  color: var(--secondary);
  text-decoration: none;
  font-size: 18px;
  display: block;
}

/*  carousel    */

.carousel {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    min-width: 100%;
    flex-shrink: 0;
}

.carousel-buttons button {
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 40%;
}

.carousel-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


.carousel-buttons{
    display: flex;
    justify-content: space-between;
}
