body{
    font-family: 'JetBrainsMonoNerd', monospace;
    background-color: white;
    color: black;
    margin: 0px;
    background-image: linear-gradient(to right, aliceblue, mediumpurple);
}

.topnav{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: greenyellow;
    border: 3px solid darkslateblue;
    border-bottom: 3px solid gray;
    border-radius: 10px;
    height: 90px;
}

.topnav-left{
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.topnav-right{
    display: flex;
    align-items: center;
    padding: 10px;

}

#logo{
    width: 70px;
    height: 70px;
    border: 3px solid black;
    border-radius: 90px;

}


#search-bar {
  display: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  padding: 10px;
}

#search-bar.show {
  display: inline-block;
}


#search-btn {
  background-color: #0078d4;
  color: white;
  border: 2.5px black solid ;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #005fa3;
}

.middle-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}

.box{
    display: flex;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.box img{
    height: 60px;
    width: 60px;
}


.box:hover{
    height: 210px;
    width: 210px;
}
